.upper-line{
position: absolute;
height: 69px;
left: 0%;
right: 0%;
top: 0px;
background: #F2F2F2;
border-radius: 0px;
}

.upper-line p{
position: absolute;
height: 27px;
left: 0%;
right: 77.75%;
top: 1px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
letter-spacing: 0.36px;
color: #1C2752;
}

.social-media-img{
position: absolute;
height: 29px;
left: 87%;
right: 0%;
top: 0px;
}

.facebook{
position: absolute;
height: 18px;
left: 6.41%;
right: 81.41%;
top: calc(50% - 18px/2 + 0.5px);
border-radius: 0px;
}

.logo&contacts{
position: absolute;
height: 128px;
left: 0%;
right: 0%;
top: 0px;
}

.logo&contacts h1{
position: absolute;
height: 48px;
left: 0%;
right: 79.83%;
top: calc(50% - 48px/2);
border-radius: 0px;
}